</div>

<div class="container mt-5">
    <form action="/add" method="POST">
        <legend>Añadir nota</legend>
        <label for="titulo" class="col-sm-2 col-form-label">Título</label>
        <input type="text" class="form-control-plaintext" name="titulo" id="titulo" placeholder="Ingrese el título">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control" id="descripcion" name="descripcion" rows="3" placeholder="Ingrese una descripción de la nota"></textarea>
        <button type="submit" class="btn btn-primary">Añadir nota</button>
    </form>
</div>
</div>